
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutnew.cshtml";
}
<div class="content row col s12 reset-margin">
    <div class="col s6 m4 l3">
        <div class="dashboard-inner-item" style="padding: 10px;">
            <img src="~/Content/img/a1.jpg" style="WIDTH: 100%; HEIGHT: 250PX; " />

            <span class="title">Tên sách: <b>Bộ đề thi trắc nghiệm khoa học tự nhiên</b></span><br />




            <a style="background-color:red; color:white;" href="/Sendemail/Index" class="btn full-width modal-trigger" data-code="" id="enter-ex">Mua ngay</a>



        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="dashboard-inner-item" style="padding: 10px;">
            <img src="~/Content/img/a2.jpg" style="WIDTH: 100%; HEIGHT: 250PX; " />

            <span class="title">Tên sách: <b>Bộ đề thi trắc nghiệm môn lịch sử</b></span><br />




            <a style="background-color:red; color:white;" href="/Sendemail/Index" class="btn full-width modal-trigger" data-code="" id="enter-ex">Mua ngay</a>



        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="dashboard-inner-item" style="padding: 10px;">
            <img src="~/Content/img/a3.jpg" style="WIDTH: 100%; HEIGHT: 250PX; " />

            <span class="title">Tên sách: <b>Bộ đề thi trắc nghiệm môn tiếng anh năm 2007</b></span><br />




            <a style="background-color:red; color:white;" href="/Sendemail/Index" class="btn full-width modal-trigger" data-code="" id="enter-ex">Mua ngay</a>



        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="dashboard-inner-item" style="padding: 10px;">
            <img src="~/Content/img/a4.jpg" style="WIDTH: 100%; HEIGHT: 250PX; " />

            <span class="title">Tên sách: <b>Bộ đề thi trắc nghiệm môn khoa học xã hội</b></span><br />




            <a style="background-color:red; color:white;" href="/Sendemail/Index" class="btn full-width modal-trigger" data-code="" id="enter-ex">Mua ngay</a>



        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="dashboard-inner-item" style="padding: 10px;">
            <img src="~/Content/img/a5.jpg" style="WIDTH: 100%; HEIGHT: 250PX; " />

            <span class="title">Tên sách: <b>Bộ đề thi trắc nghiệm môn tiếng anh năm 2017</b></span><br />




            <a style="background-color:red; color:white;" href="/Sendemail/Index" class="btn full-width modal-trigger" data-code="" id="enter-ex">Mua ngay</a>



        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="dashboard-inner-item" style="padding: 10px;">
            <img src="~/Content/img/a6.jpg" style="WIDTH: 100%; HEIGHT: 250PX; " />

            <span class="title">Tên sách: <b>Bộ đề thi trắc nghiệm khắc quan môn anh văn</b></span><br />




            <a style="background-color:red; color:white;" href="/Sendemail/Index" class="btn full-width modal-trigger" data-code="" id="enter-ex">Mua ngay</a>



        </div>
    </div>
    <div class="col s6 m4 l3">
        <div class="dashboard-inner-item" style="padding: 10px;">
            <img src="~/Content/img/a7.jpg" style="WIDTH: 100%; HEIGHT: 250PX; " />

            <span class="title">Tên sách: <b>Bộ đề thi trắc nghiệm môn khoa học tự nhiên</b></span><br />




            <a style="background-color:red; color:white;" href="/Sendemail/Index" class="btn full-width modal-trigger" data-code="" id="enter-ex">Mua ngay</a>



        </div>
    </div>



</div>

